.btn {
  align-items: center;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.btn:disabled {
  cursor: initial;
}
