.wrapper {
  background: #fff;
  color: #000;
  display: block;
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
}

.wrapper.dark {
  background: #292524;
  color: #fff;
}

.wrapper.shrink {
  display: inline-block;
}

@media (min-width: 1024px) {
  .wrapper {
    border-radius: 12px;
    margin-left: 0;
    margin-right: 0;
    padding: 40px 24px;
  }
}
