.scrollwrapper {
  overflow-x: auto;
}

.ranklabel {
  width: 64px;
}

.table {
  border-collapse: collapse;
  border-color: #292524;
  border-style: solid;
  border-width: 2px 0 2px;
  font-size: 0.875rem;
  height: 100%;
  min-width: 976px;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.th {
  border-color: #292524;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  height: 100%;
  padding: 0 8px;
  padding: 0;
  width: auto;
}

.th.w64 {
  width: 64px;
}

.th.w32 {
  width: 32px;
}

.td {
  border-color: #292524;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  padding: 0;
}

.buybutton {
  height: 100%;
  padding: 16px;
  width: 100%;
}

.buybutton:disabled {
  background: #f5f5f4;
}

.buybutton:not(:disabled):hover {
  background: #e7e5e4;
}

.inactivebuybutton {
  cursor: default;
  height: 100%;
  padding: 16px;
  width: 100%;
}
